autom4te*
config.cache
config.log
config.status
Makefile
SDL_mixer.pc
SDL_mixer.qpg
SDL_mixer.spec
libtool

/build/*
build-*
# Ignore these when swwitching between branches
SDL2_mixer.pc
SDL2_mixer.spec
/aclocal.m4
*.user

