//
//  config.xcconfig
//  SDL_mixer
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Uncomment these lines to enable native MIDI support on OSX
//CONFIG_PREPROCESSOR_DEFINITIONS[sdk=mac*] = $(inherited) MUSIC_MID_NATIVE

// Uncomment these lines to enable MOD support
// If you do this, you should run external/download.sh to download the decode libraries and add libmodplug.framework to your application bundle.
//CONFIG_PREPROCESSOR_DEFINITIONS = $(inherited) MUSIC_MOD
//CONFIG_FRAMEWORK_LDFLAGS = $(inherited) -weak_framework libmodplug

// Uncomment these lines to enable Opus support
// If you do this, you should run external/download.sh to download the decode libraries and add opus.framework to your application bundle.
//CONFIG_PREPROCESSOR_DEFINITIONS = $(inherited) MUSIC_OPUS
//CONFIG_FRAMEWORK_LDFLAGS = $(inherited) -weak_framework opus
